h1 {
	text-align: center;
	font-size: 24px;
	padding: 20px;
}

.main{
	display:block;
	width: 100%;
	min-height: 700px;
}

.left {
	width: auto;
	float: left;
}

.right {
	float: right;
	white-space:nowrap;
}

.albumimg {
	width:200px;
}

.song {
	max-height: 600px;
	background: rgb(255, 255, 255);
	opacity:0.7;
	margin-right: 20px;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 0px solid #800000;
	font-size: 2em;
	font-family:"verdana", Times, serif;
	margin: 0;
	text-overflow: ellipsis;
	padding:0;
}

.song  span {
	padding:10px;
}

.nextsong {
	max-height: 600px;
	background: rgb(255, 255, 255);
	opacity:0.7;
	margin-right: 20px;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 0px solid #800000;
	font-size: 1em;
	font-family:"verdana", Times, serif;
	margin: 0;
	text-overflow: ellipsis;
	padding:0;
}	

.nextsong  span {
	padding:10px;
}

body  {
	background:url('http://www.htbackdrops.com/v2/albums/userpics/10904/13b52s.jpg');
	background-size: 100%, auto;
	background-repeat:no-repeat;
}